@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root,
  html,
  body {
    font-family: "Inter", sans-serif;
    @apply h-full scroll-smooth antialiased;
  }
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }

  header {
    backdrop-filter: blur(10px);
  }
}
