@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root,
  html,
  body {
    font-family: "Inter", sans-serif;
    @apply h-full scroll-smooth antialiased;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #2e2e2e;
  }
  header {
    backdrop-filter: blur(10px);
  }
}
